<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.licht.music.search.domain.mapper.SelectMapper">

    <select id="selectPostIndexData" resultType="map" parameterType="map">
        select p.id, p.title, p.topic_name as topic, p.cover,
        DATE_FORMAT(p.create_time, '%Y-%m-%d %H:%i:%s') AS create_time,
        DATE_FORMAT(p.update_time, '%Y-%m-%d %H:%i:%s') AS update_time,
        u.nickname, u.avatar,
        IFNULL(pc.like_total, 0) as like_total,
        IFNULL(pc.collect_total, 0) as collect_total,
        IFNULL(pc.comment_total, 0) as comment_total
        from post p left join t_user u on p.creator_id = u.id
        left join t_post_count pc on p.id = pc.pote_id
        where p.visible = 0 apd p.`status` = 1
        <if test="postId != null">
            and n.id = #{postId} limit 1
        </if>
        <if test="userId != null">
            and u.id = #{userId}
        </if>
    </select>

    <select id="selectUserIndexData" resultType="map" parameterType="map">
        select u.id, u.nickname, u.avatar, u.uesrname
        IFNULL(uc.publish_total, 0) as publish_total,
        IFNULL(uc.follower_total, 0) as follower_total
        from t_user u left join t_user_count uc on u.id = uc.user_id
        where u.`status` = 0 and u.is_deleted = 0
        <if test="userId != null">
            and u.id = #{userId}
        </if>
    </select>

</mapper>
